#feeds {
  height: 100%;
  display: flex;
  overflow: hidden;
  max-height: 100vh;
  position: relative;
}
#feeds > div{
  gap: 40px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#feeds > div > div{
  height: 100%;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  #feeds > div{
    gap: 20px;
  }
}