#blog-container {
  width: 100%;
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  border: 1px solid #d0d0d0;
}
#blog-post {
  gap: 12px;
  display: flex;
  overflow: hidden;
  padding: 30px 44px;
  flex-direction: column;
  width: calc(100% - 88px);
  border-bottom: 1px solid #d0d0d0;
}
#blog-post > section {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
#blog-post > section > div {
  gap: 10px;
  display: flex;
  align-items: center;
}
#blog-post > section > div > :nth-child(1) {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
#blog-post > section > div > :nth-child(2) {
  gap:8px;
  display: flex;
  flex-direction: column;
}
#blog-post > section > div > :nth-child(2) > h3 {
  font-size: 21px;
  font-weight: 500;
  width: fit-content;
}
#blog-post > section > div > :nth-child(2) > p {
  font-size: 17px;
  font-weight: 400;
  color: #626262;
}
#blog-post > section > h1 {
  font-size: 30px;
  font-weight: 500;
  width: fit-content;
}
#blog-post > div {
  gap: 12px;
  display: flex;
  flex-direction: column;
}
#blog-post > div > p {
  font-size: 17px;
  font-weight: 400;
  color: #626262;
}
#blog-post > div > div {
  width: 100%;
  height: 300px;
  max-width: 610px;
  border-radius: 8px;
}
#blog-post > div > video {
  width: 100%;
  height: 300px;
  max-width: 610px;
  border-radius: 8px;
  background-color: black;
}
@media only screen and (max-width: 1024px) {
  #blog-post {
    padding: 25px 35px;
    width: calc(100% - 70px);
  }
}
@media only screen and (max-width: 768px) {
  #blog-post > div {
    gap: 10px;
  }
  #blog-post > section > h1 {
    font-size: 22px;
    line-height: 25px;
  }
  #blog-post > section > div > :nth-child(1) {
    width: 70px;
    height: 70px;
  }
  #blog-post > section > div > :nth-child(2) {
    gap:5px;
  }
  #blog-post > section > div > :nth-child(2) > h3 {
    font-size: 17px;
  }
  #blog-post > div > p {
    font-size: 15px;
  }
  #blog-post > section > div > :nth-child(2) > p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 500px) {
  #blog-post {
    padding: 20px 10px;
    width: calc(100% - 20px);
  }
  #blog-post > div {
    gap: 8px;
  }
  #blog-post > section > h1 {
    font-size: 20px;
    line-height: 23px;
  }
  #blog-post > section > div > :nth-child(1) {
    width: 60px;
    height: 60px;
  }
  #blog-post > section > div > :nth-child(2) {
    gap:4px;
  }
  #blog-post > section > div > :nth-child(2) > h3 {
    font-size: 14px;
    font-weight: 600;
  }
  #blog-post > div > p {
    font-size: 14px;
  }
  #blog-post > section > div > :nth-child(2) > p {
    font-size: 14px;
  }
}
