#search-bar {
  width: 100%;
  height: 50px;
  display: flex;
  padding: 5px 0;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #d0d0d0;
}
#search-bar > form {
  gap: 20px;
  width: 100%;
  height: 38px;
  display: flex;
  padding: 0 10px;
  max-width: 459px;
  border-radius: 8px;
  align-items: center;
  transition: all ease 0.5s;
  border: 1px solid #d0d0d0;
}
#search-bar > form > input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #626262;
  font-weight: 400;
  line-height: 27px;
  font-family: "DM sans", sans-serif;
}
#search-bar > form > input::placeholder {
  color: #d0d0d0;
}
#search-bar > form > :nth-child(3) {
  display: none;
  color: #c50c0c;
}

#search-bar > h1 {
  display: none;
  margin-top: 0;
  font-size: 20px;
  color: #543ee0;
}

#search-bar > div {
  gap: 12px;
  display: flex;
  align-items: center;
}
#search-bar > div > svg {
  width: 15.16px;
  height: 19.75px;
}
#search-bar > div > div {
  width: 39px;
  height: 39px;
  border-radius: 50%;
}
#search-bar > div > a {
  padding: 0;
  display: flex;
  background-color: transparent;
}
#search-bar > div > button {
  padding: 0;
  border: none;
  outline: none;
  display: flex;
  background-color: transparent;
}
#search-bar > div > button > svg {
  width: 35px;
  height: 30px;
}
#search-bar > div > button:nth-child(2) {
  display: none;
  color: black;
}
#search-bar > div > div > div {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #0000002f;
}

@media only screen and (max-width: 1024px) {
  #search-bar > form {
    height: 35px;
    max-width: 400px;
  }
  #search-bar > form > input {
    line-height: 0;
    font-size: 16px;
  }

  #search-bar > div {
    gap: 10px;
  }
  #search-bar > div > svg {
    width: 14px;
    height: 15px;
  }
  #search-bar > div > div {
    width: 35px;
    height: 35px;
  }
}

@media only screen and (max-width: 768px) {
  #search-bar {
    gap: 20px;
    height: 40px;
    padding: 5px 20px;
    padding-top: 15px;
    width: calc(100% - 40px);
    justify-content: flex-end;
  }
  #search-bar > form {
    left: 0;
    gap: 10px;
    z-index: 2;
    height: 100%;
    padding: 20px;
    max-width: 100%;
    position: absolute;
    visibility: hidden;
    width: calc(100% - 40px);
    background-color: #fff;
    animation: searchbar-side-out ease 0.5s forwards;
  }
  #search-bar > form > input {
    line-height: 0;
    font-size: 16px;
  }
  #search-bar > form > :nth-child(3) {
    display: flex;
  }
  #search-bar > form > svg {
    width: 25px;
    height: 25px;
  }

  #search-bar > h1 {
    left: 20px;
    display: flex;
    font-size: 23px;
    position: absolute;
  }

  #search-bar > div {
    gap: 15px;
    width: fit-content;
    align-items: center;
    justify-content: center;
  }
  #search-bar > div > :nth-child(1) {
    display: none;
  }
  #search-bar > div > div {
    width: 35px;
    height: 35px;
  }
  #search-bar > div > button {
    display: flex;
    align-items: center;
  }
  #search-bar > div > button > svg {
    width: 28px;
    height: 28px;
  }
  #search-bar > div > button:nth-child(2) {
    display: flex;
    width: 23px;
    height: 23px;
  }
}

@media only screen and (max-width: 500px) {
  #search-bar {
    gap: 15px;
    height: 35px;
    padding: 8px 12px;
    width: calc(100% - 24px);
  }
  #search-bar > form {
    padding: 12px;
    width: calc(100% - 24px);
  }
  #search-bar > form > input {
    font-size: 14px;
  }

  #search-bar > h1 {
    left: 10px;
    font-size: 20px;
  }
  #search-bar > div {
    gap: 7px;
  }
  #search-bar > div > div {
    width: 30px;
    height: 30px;
  }
  #search-bar > div > a {
   display: flex;
}
}

@keyframes searchbar-side-in {
  0% {
    transform: translateX(-100%);
    visibility: visible;
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    visibility: visible;
    opacity: 1;
  }
}

@keyframes searchbar-side-out {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
